#content {
    margin: 0 auto;
    max-width: 960 px;
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: 20 px;
}

header, footer {
    width: 650 px;
    height: 60 px;
    margin: 0;
    padding: 20 px 40 px;
    display: flexbox;
    float: center;
    background-color: rgb(35, 195, 216);
}
  
nav{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 20 px;
}

h1,
h4 {
    color:white;
    text-align: center;
}


.photo {
    align-items: right;
    float: right;
}