body {
	font-size: 30px;
	font-family: "Varela Round", sans-serif;;
}
/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
}

header, footer {
	background-color: #999;
	display: flexbox;
	align-items: center;
	border-radius: 20px 20px 20px 20px;
	padding: 0 1rem;
	text-align: center;
	max-width: 767px;
	margin: 0 auto;
}

h1, h2, h3, h5 {
	color: white;
	font-family: "Cinzel", serif;
	text-align: center;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

li {
	color: white; 
}
a:hover {
	color: purple; 
}
a {
	color: white;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: rgb(79, 177, 172);
}
section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}
.colimage {
	box-shadow: 0 0 30px #333;
	max-width: 100%;
}
img{
	max-width: 100%;
}



