@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
table {
    font-family: "Ubuntu";
    box-shadow: 10px 10px 10px grey;
  }
  table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    
  }
  th, td {
    padding: 10px;
    text-align: center;
  }
  tbody tr:nth-child(odd) {
    background-color: #e7ffed;
    color: black;
  }
  tbody {
   background-color: #e7f0ed;
   color: black;
  }
  tbody tr:nth-child(1) {
    background-color:#628ca6;
    color: white;
    font: bold;
  }
  thead {
    background-color: #7fb9c2;
    color: black;
    font-size: 25px;
  }

  tfoot{
    background-color: #7fb9c2;
    color: black;
    text-align: center;
    font-size: 12px;
  }

#special{
    background-color:#628ca6;
    color:white;
}
