@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
////////////////////////////////////////////////////
header {
  margin: 0;
  height: 5rem;
}

main {
  margin: 0;
  display: grid;
  
}

//Small View

//******************HEADER/NAV******************//
//top banner area
.site-banner {
  border: 1px solid red;
  background-color: $link-blue;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
}

//BYUI - Logo top left
.icon-byui-logo {
  background-color: $body-font;
  float: left;
  justify-content: center;
  padding: 20px;
  color: white;
  font-size: 40px;
}

//"Home" section to the right of BYUI
.site-banner__left {
  border: 1px solid green;
  text-decoration: none;
}

//Icon Links to top right
.site-banner__right {
  text-align: right;
  text-decoration: none;
}

.mobile-header-icon {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.grey-school-name {
  border: 1px solid purple;
  background-color: $light-gray;
  color: black;
  font-family: 'BYUI Open Sans';
  grid-column: span 3;
  grid-row: 2 / 3;
  text-align: center;
}

//******************MAIN********************//










