/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
#forecast-container{
	display: block; 
    }
    
#contact-container{
    display: block;
}

.contact-info{
    float: right; 
	padding: 5%;
}
.preston-map img{
	display: block; 
	width: 30%; 
	float: left;
	height: 100%; 
	padding: 5%;
}

.picture-article {
	display: block; 


}   
}
