nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #000;
}
.navigation {
	list-style: none;
	padding: 0px;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
    display: block;

}

h2,h3,h4,p{
    font-family: 'Gelasio', serif;
    text-align: center;
}

.content {
    display: block;
    margin: 10px auto; 
    padding: 15px;
    font-style: italic; 
    font-family: 'Barlow Condensed', sans-serif;
  
}
  
header,
footer {
	background-color: #FFFDD1;
    display: flex;
    flex-flow: column;
	align-items: center;
	justify-content: center;
    padding: 10px;
    
}
  header{
   display: flex;
   align-items: center;
   justify-content: center; 
   font-family: 'Bangers', cursive;
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.25em;
}

.herodiv{
    margin: 10px auto;
}

.hero-ph{
    display: flex;
	margin: 10px auto;
    justify-content: center;
    width: 100%;
    position: relative;
   
}
.weathersummary{
    position: absolute; 
    top: 25px;
    left: 50px; 
    background-color: #FFFDD1;
    border: 1px solid white; 
    padding: .5rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
}
.tree-image{
    width: 100%;
    max-width: 900px;
}

footer {
	flex: 0 1 100%;
    height: 2rem;
}

#article-container { 
    margin: 0 auto;
}

.article{  
    display: flex;
    width: 100%;
    border: 1px solid black; 
    box-shadow: 0 0 30px lightgrey;
    background-color: #FFFDD1;
    flex-direction: column;
    max-width: 960px;
}

.picture-article {
    display: block;
    float: right;
    justify-content: right;
    position: relative;
}

#forecast-container{
    display: none; 
}

.flex {
	display: flex;
	flex-direction: row;
}

.col {
	flex: 1 1 100%;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	background-color: #FFFDD1;
	font-size: 13px;
    text-align: center;
}

.flex div:last-child {
    border-right: 1px solid #333;
}

.label {
	display: block;
	padding: 5px;
	font-weight: 700;
	font-size: 15px;
	border-bottom: 1px solid #333;
	background-color: #eee;
}

.flex div img, table img {
	border-radius: 100px;
	padding: 5px;
}

.data {
	display: block;
	padding: 0 5px 5px;
}
a:link{
    color: orange;
}

.contact{
    display: flex;
    justify-content: center;

}
