/* Media Query for medium + screens */
@media only screen and (max-width: 600px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}

}

