html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
.logo{
    width: 125px;
    height: 125px;
    justify-content: center;
    align-items: center;
}

nav {
	margin: 0 auto;
	max-width: 100%;
    background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.25em;
}
.navigation {
	list-style: none;
	padding: 0px;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
    display: block;
}

h2,h3,h4,p{
    font-family: 'Gelasio', serif;
    text-align: center;
}

h1{
    font-family: 'Bangers';
    text-align: center;
}

.content {
    display: block;
    margin: 10px auto; 
    padding: 15px;
    font-style: italic; 
    font-family: 'Barlow Condensed', sans-serif;
  
}
  
header{
	background-color: #FFFDD1;
    display: flex;
    flex-flow: column;
	align-items: center;
	justify-content: center;
    padding: 10px;
    font-family: 'Bangers', cursive;
}

div{
    margin: 10px auto;
}    

.hero-ph {
    display: flex;
	margin: 10px auto;
    justify-content: center;
    width: 100%;
    position: relative;
}

.weathersummary{
    
    top: 25px;
    left: 50px; 
    background-color: #FFFDD1;
    border: 1px solid white; 
    padding: .5rem;
    opacity: .8;
    box-shadow: 0 2px 15px gray;
    position: absolute; 
}

#forecast-container{
    display: none; 
}

.flex {
	display: flex;
	flex-direction: row;
}

.label{
	flex: 1 1 100%;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	background-color: #FFFDD1;
	font-size: 13px;
    text-align: center;
}

.flex div:last-child {
    border-right: 1px solid #333;
}

.col{
	display: block;
	padding: 5px;
	font-weight: 700;
	font-size: 15px;
	border-bottom: 1px solid #333;
	background-color: #eee;
}

.flex div img, table img {
	border-radius: 100px;
	padding: 5px;
}

.data {
	display: block;
	padding: 0 5px 5px;
}

#article-container { 
    display: flex;
    margin: 0 auto;
    border: 1.5px dashed rgb(20, 16, 16); 
    box-shadow: 0 0 30px lightgrey;
    padding: 2.5%; 
    width: 100%;
    max-width: 960px; 
    background-color:#FFFDD1;

}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
  }

#event-container {

}
#events{
    
}

#contact-container{
    display: block;
    margin: 0 auto;
    padding: 2.5%;  
}

.contact-info{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.preston-map{
    display: none; 
}

.social{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Bangers', cursive;
    text-align: center;
    max-width: 100%;
}

