/* Media Query for medium + screens */
@media only screen and (min-width: 600px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: white;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
	
#forecast-container{
	display: block; 
	}

#forecast, #forecast2, #forecast3 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
		grid-gap: 0px;
		align-items: center;
		text-align: center; 
		border: 1px solid black;
		
	}
#forecast h3, #forecast2 h3, #forecast3 h3{
	background-color:#36454f;
	color: white;
	padding: .5em;
	margin-top: inherit;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
	
#article-container{
	display: flex;
	justify-content: center;
	text-align: center;
}
    
#contact-container{
	display: block;
}

.contact-info{
	padding: 7%;
}
.preston-map{ 
	display: block; 
	float: left;
	box-shadow: 10px lightgrey;

}
.picture-article {
	display: block; 

}   
footer{
	display: flex;
	text-align: center;
	align-items: center;
}
}


