/* Desktop Views ****************************/
@media only screen and (min-width: 1000px) {
/***********ALL BODY INFO*********/



/***********ALL HEADER INFO*********/



/***********ALL NAVIGATION INFO*********/
    nav a {
		font-size: 1.1rem;
    }


/***********HOME PAGE INFO*********/
.adventure-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

/***********RIVER GUIDE INFO*********/

.guides{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}
/***********RESERVATION INFO*********/



/***********CONTACT US INFO*********/



/***********FOOTER INFO*********/



}