/* Media Query for medium + screens */
@media only screen and (min-width: 700px) {
    
/***********ALL BODY INFO*********/


/***********ALL HEADER INFO*********/
    
    .logo{
        float: left;
        padding: 10px;
    }

/***********ALL NAVIGATION INFO*********/
    .navigation {
		display: flex;
	}

	.navigation li a {
		color:  #028FB7;
		text-align: center;
    }

    nav{
        float: right;
    }
    
    nav li{
        display: block;
        margin-left: 57px;
        padding-top: 65px;
        padding-bottom: 25px;
        position: relative;
    }
	
	.navigation li:first-child {
		display: none;
    }
    
    nav a::before{
        content: '';
        display: block; 
        height: 5px;
        width: 0%;
        background-color: #028FB7;
        position: absolute;
        top: 0; 
        transition: all ease-in-out 250ms;
    }
    
    nav a:hover::before{
        width: 100%;
    }


/***********HOME PAGE INFO*********/

.adventure-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    clear:both;  
}


/***********RIVER GUIDE INFO*********/
.guides {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    clear:both;
}


/***********RESERVATION INFO*********/



/***********CONTACT US INFO*********/

#heading2{
    text-align: center;
    padding: 15px;
}

.contact-info{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.contact{
    width: 50%;
}
.contact label{
    display: block;
}



/***********FOOTER INFO*********/



}
