/* Media Query for medium + screens */
@media only screen and (min-width: 600px) {
    .logo{
        float: left;
        padding: 10px;
    }
    .navigation {
		display: flex;
	}

	.navigation li a {
		color:  #028FB7;
		text-align: center;
    }
    
    nav li{
        display: block;
        margin-left: 57px;
        padding-top: 65px;
        padding-bottom: 25px;
        position: relative;
    }
	
	.navigation li:first-child {
		display: none;
    }
    
    nav a::before{
        content: '';
        display: block; 
        height: 5px;
        width: 0%;
        background-color: #028FB7;
        position: absolute;
        top: 0; 
        transition: all ease-in-out 250ms;
    }
    
    nav a:hover::before{
        width: 100%;
    }
}
