html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/***********ALL BODY INFO*********/
body{
    margin: 0 auto;
    background-color:#028FB7;
    color:white;
}

h1{
    font-family: 'Cantata One', serif; 
}

h2, p{
    font-family: 'Rokkitt'; 
}

h3,h4,h5{
    font-family: 'Rajdhani';
}

a:hover{
    color: purple;
}

/***********ALL HEADER INFO*********/
.container{
    width: 80%;
    margin: 0;
}

.book{
    display: flex;
    background-color: #024B57;
    width: 100%;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    text-decoration: none;
}

.book:a:hover{
    color: purple;
}

.book a{
    color: white
}


header{
    background-color: #a9e5bb;
    padding: 0;
}

header::after{
    content: '';
    display: table;
    clear: both; 
}

.logo{
    float: left;
    padding: 10px;
}

/***********ALL NAVIGATION INFO*********/
nav{
    display: block;
    text-align: right;
}

nav ul{
    margin: 0; 
    padding: 0;
    list-style: none;
}

nav li{
    display: none;
    padding-top: 20px;
    position: relative;
    padding: 5px;
}

nav a{
    color: #028FB7; 
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: purple;
    text-decoration: underline;
}

.navigation li:first-child {
	display: block;
}


.responsive li {
    display: block;
}

/***********ALL HEADING***********/
#heading {
    text-align: center;
}

/***********HOME PAGE INFO*********/

.welcome-container {
     display: block;
     padding-left: 10px; 
     width: 100%;
     justify-content: center;
     align-items: center;
}

#welcome-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}

#river{
    box-shadow: 0 0 20px #333;
    
}

.adventure-container {
    display: flexbox;
    grid-template-columns: 1fr; 
    color: #028FB7; 
    
}

.cards {
    margin: 0.5rem;
	border: 1px solid grey;
	padding: 0 1rem;
    background-color: #F4F2F1;
    border-radius: 5px;
}

#begin, #inter, #advance{
    box-shadow: 0 0 20px #333;
}

.weather-info{
    display: flex;
    position: relative;
    border: 2px dashed white;
    justify-content: center;
    padding-left: 5px;
    margin: 15px;  
    max-width: 400px;
    text-align: center;
    justify-items: center;
}
.report{
    text-align: center;
    justify-items: center;
    padding: 10px;
    font-size: 12px;
    
}

/***********RIVER GUIDE INFO*********/

.guides{
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 20px;
    padding: 15px;
    align-items: center;
    text-align: center;  
}
.guides section{
    border: 2px white dashed;
    padding: 10px;
    
}

/***********RESERVATION INFO*********/
.table-container{
    padding: 20px;
}

table{
    width: 400px;
    align-items: center;
    box-shadow: 5px 5px 5px #333;
}
caption{
    color: white;
    font-family: Cantata;
    font-weight: bold;
    font-size: 20px;
}
th{
    text-align: left;
}
table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
    color: black;
    padding: 10px;
    text-align: center;
}
th{
    background-color: #C2B8B2;
    font-family: Cantata;
    text-align: center;
}
td{
    background-color: #F4F2F1;
    font-family: Rokkitt;
}

.reservation-container{
    display: grid;
    grid-template-columns: 1fr;
}

#heading4{
    text-align: center;
    color: white;
}


/***********CONTACT US INFO*********/

#heading2{
    text-align: left;
    padding: 15px;
}

.contact-info{
    display:grid;
    grid-template-columns: 1fr;
    padding: 15px;
    width: 90%;
}

.contact-container, option, input, label, button{
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    color: inherit;
    text-align: left;
}

.contact{
    padding: 0.5rem 0;
    text-align: left;
    justify-items: center;
    justify-content: center;
}

.contact label{
    display: none;
}

.contact input, .contact select, .contact textarea{
    flex-basis: 100%;
    color: black;
}

button{
    color: black;
}

.map{
    justify-content: center;
}

/***********FOOTER INFO*********/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9e5bb;
    color: #028FB7;
}
footer a {
    color: #028FB7;
}








